<h2>Apply FFT</h2>
<wac-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->var analyser = offlineAudioContext.createAnalyser();
var buffer = new Float32Array(analyser.fftSize);
var scriptProcessor = offlineAudioContext.createScriptProcessor();

scriptProcessor.onaudioprocess = () =&gt; {{ '{' }}
    analyser.getFloatFrequencyData(buffer);
    // CAUTION: buffer will contain random data
};
anyNodeThatOutputsSound
    .connect(analyser)
    .connect(scriptProcessor)
    .connect(offlineAudioContext.destination);
offlineAudioContext.startRendering();<!-- htmlmin:ignore --></wac-prism>
