<h2>Find Maximum</h2>
<ul>
    <li>no native support</li>
    <li>ScriptProcessorNode does not fire each onaudioprocess event in <a href="https://github.com/chrisguttandin/standardized-audio-context/blob/master/test/expectation/chrome/current/offline-audio-context-constructor.js#L65">Chrome</a>, <a href="https://github.com/chrisguttandin/standardized-audio-context/blob/master/test/expectation/opera/offline-audio-context-constructor.js#L65">Opera</a> & <a href="https://github.com/chrisguttandin/standardized-audio-context/blob/master/test/expectation/safari/offline-audio-context-constructor.js#L65">Safari</a></li>
</ul>
